:root {
  --color-primary: #2c3e50;
  --color-secondary: #dde3ed;
  --color-tertiary: #4e381c;
  --color-neutral: #ecf0f1;

  --color-rojo: #bb1b1a;
  --color-verde: #15803d;
  --color-azul: #1d4ed8;
  --color-naranja: #b6580f;

  --color-rojo-hover: #ef4444;
  --color-verde-hover: #10b981;

  --color-bg-verde: #dcfce7;
  --color-bg-azul: #dbeafe;
  --color-bg-naranja: #fef3c7;
  --color-bg-rojo: #ffa6a6;


  /* Estados */
  --color-estado-creado: #f59e0b;
  --color-estado-evaluacion: #8b5cf6;
  --color-estado-aprobado: #22c55e;
  --color-estado-rechazado: #ef4444;
  --color-estado-archivado: #6b7280;



  --width-sidebar: 280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  background-color: var(--color-neutral);

  display: flex;
  height: 100vh;
  align-items: flex-start;
  position: relative;

 overflow-y: auto;
}

main {
  color: var(--color-primary);
  
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 40px;
  margin-left: var(--width-sidebar);
}

main > * {
    width: 100%;
}

a {
  text-decoration: none;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--width-sidebar);
  overflow-y: auto;
  border-right: 1px solid #e2e8f0;
  background-color: var(--color-secondary);
  z-index: 1000; 

  padding-bottom: 15px;
}


.profile-section {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #e2e8f0;
}
.profile-section svg {
  width: 40px;
  height: 40px;
  color: var(--color-primary);
}

.system-name {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-primary);
}

.nav-menu {
  padding: 0;
  margin: 20px 0 0 0;
}
.nav-menu a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s;
  padding: 10px 20px;
}


.nav-menu a:hover,
.nav-menu a.active {
  color: var(--color-primary);
  font-weight: 600;
  border-left: 3px solid var(--color-primary); /* Resaltado sutil */
  padding-left: 17px;
  background-color: #fff;
}

.nav-menu .section-title {
  font-size: 12px;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
}

/* Botones */
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  border-radius: 7px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn svg {
  width: 16px;
  height: 16px;
}

.btn.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border: 2px solid;
}

.btn.btn-primary:hover {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: bold;
  border: 2px solid var(--color-secondary);
}

.btn.btn-secondary:hover {
  background-color: #fff8;
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
}

.btn.btn-recibir {
  background-color: var(--color-estado-derivado);
  color: #fff;
  font-weight: bold;
  border: 2px solid var(--color-estado-derivado);
}

.btn.btn-recibir:hover {
  background-color: #fff;
  color: var(--color-estado-derivado);
}

.btn.btn-evaluar {
  background-color: var(--color-estado-evaluacion);
  color: #fff;
  font-weight: bold;
  border: 2px solid var(--color-estado-evaluacion);
}

.btn.btn-evaluar:hover {
  background-color: #fff;
  color: var(--color-estado-evaluacion);
}

.btn-icono {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn-icono:hover {
  color: var(--color-azul);
}



.btn-accion-activo svg {
    fill: green;
}

.btn-accion-inactivo svg {
    fill: gray;
}


/* Inputs */

.input,
.input-contenedor, .textarea {
  width: 100%;
  display: inline-block;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
  transition: border-color 0.3s;
  color: var(--color-primary);
  outline: none;
}

.textarea {
  width: 100%;
  resize: none;
  height: 100px;
  padding: 10px;
}


.input {
  padding: 10px;
}
.input-contenedor {
  padding: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.input-contenedor input {
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  outline: none;
}

.icono-search {
  width: 20px;
  height: 20px;
  color: var(--color-primary);
}


/* Select */
.select {
  width: 100%;
  padding: 10px;
  background-color: #dde3ed55;
  border-radius: 5px;
  border: 2px solid var(--color-secondary);
}


/* Tablas */

.tbl {
  width: 100%;
  border-collapse: separate; /* Necesario para que funcione el borde */
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tbl thead {
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.tbl thead th {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

.tbl thead th.acciones-crud {
  text-align: center;
}

.tbl tbody tr:nth-child(odd) {
  background-color: #fff;
}

.tbl tbody td {
  padding: 10px;
}

.acciones-crud {
  text-align: center;
  vertical-align: middle;
}

.acciones-crud .btn-icono {
  display: inline;
  vertical-align: middle;
  margin: 0 5px;
}



/* Estados */
.badge-estado {
  display: flex;
  justify-content: center;
  
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  
  padding: 5px;
  border-radius: 5px;
}

.estado-creado {
  background-color: var(--color-estado-creado);
  color: #000000;
}

.estado-evaluacion {
  background-color: var(--color-estado-evaluacion);
}
.estado-aprobado {
  background-color: var(--color-estado-aprobado);
  color: #000000;
}
.estado-rechazado {
  background-color: var(--color-estado-rechazado);
}

.estado-archivado {
  background-color: var(--color-estado-archivado);
}






/* Insignias */

.insignia {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  color: var(--color-neutral);
  background-color: var(--color-primary);
  font-size: 12px;
  text-transform: uppercase;
}

.insignia.insignia-finalizado {
  background-color: var(--color-bg-verde);
  color: var(--color-verde);
}

.insignia.insignia-borrador {
  background-color: var(--color-bg-azul);
  color: var(--color-azul);
}

.insignia.insignia-optimo {
  background-color: var(--color-bg-verde);
  color: var(--color-verde);
}

.insignia.insignia-estandar {
  background-color: var(--color-bg-naranja);
  color: var(--color-naranja);
}

.insignia.insignia-deficiente {
  background-color: var(--color-bg-rojo);
  color: var(--color-rojo);
}



/* Datos Trámite */


.datos-tramite {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.datos-tramite h4 {
    text-decoration: underline;
    font-size: 20px;
}

.datos-tramite > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.datos-tramite > div > div {
    display: flex;
    flex-direction: column;
}

.datos-tramite strong {
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 5px;
}

.asunto-descripcion {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.textarea-descripcion {
      width: 100%;
  padding: 15px 20px;
  height: 150px;
  resize: none;

  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--color-neutral);
}