label {
  font-weight: bold;
}

.section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section > div {
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.textarea-descripcion {
  width: 100%;
  padding: 15px 20px;
  height: 100px;
  resize: none;

  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--color-neutral);
}

.section-acciones {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.formulario-tipo-tramite {
    display: flex;
    flex-direction: column;
    gap:10px;
}
